################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/slnx.sqlite
/.vs/7973891-apprenez-a-programmer-en-c/FileContentIndex
/.vs
/P1/P1C2.1/P1C2.1/.vs/P1C2.1
/P1/P1C2.1/P1C2.1/obj
/P1/P1C2.1/P1C2.1/bin/Debug/net8.0
/P1/P1C2.1/bin/Debug/net8.0
/P1/P1C2.1/.vs/P1C2.1
/P1/P1C2.1/obj/Debug/net8.0
/P1/P1C2.1/obj
/P1/P1C2.1/.vs/ProjectEvaluation
/P1/P1C2.2/obj
/P1/P1C2.2/P1C2.2/.vs/P1C2.2/FileContentIndex
/P1/P1C2.2/P1C2.2/obj/Debug/net8.0
/P1/P1C2.2/P1C2.2/.vs/P1C2.2/v17
/P1/P1C2.3/P1C2.3/.vs/P1C2.3
/P1/P1C2.3/P1C2.3/obj
/P1/P1C2.2/P1C2.2/.vs/P1C2.2/DesignTimeBuild
/P1/P1C2.3/obj
/P1/P1C2.3/.vs
/P1/P1C3.1/P1C3.1/.vs/P1C3.1
/P1/P1C3.1/P1C3.1/obj
/P1/P1C3.1/obj
/P1/P1C3.2/P1C3.2/.vs/P1C3.2
/P1/P1C3.2/P1C3.2/obj
/P1/P1C3.1/.vs/P1C3.1/DesignTimeBuild
/P1/P1C3.2/obj
/P1/P1C4/obj
/P1/P1C5.1/P1C5.1/.vs/P1C5.1
/P1/P1C5.1/P1C5.1/obj
/P1/P1C5.1/obj
/P1/P1C5.2/P1C5.2/.vs/P1C5.2
/P1/P1C5.2/P1C5.2/obj
/P1/P1C5.2/obj
/P1/P1C5.3/P1C5.3/obj
/P1/P1C5.3/obj
/P1/P1C5.3/obj
/P1/P1C5.3/.vs/P1C5.3/FileContentIndex/55074e1b-02b0-442b-8c7e-750c03dd9146.vsidx
/P1/P1C5.4/.vs/P1C5.4
/P1/P1C5.4/obj
/P1/P1C6/P1C6/.vs/P1C6
/P1/P1C6/P1C6/obj
/P1/P1C6/obj
/P2/P2C1/P2C1/.vs/P2C1
/P2/P2C1/P2C1/obj
/P2/P2C1/obj
/P2/P2C2.1/.vs/P2C2.1/FileContentIndex
/P2/P2C2.1/obj
/P2/P2C2.2/P2C2.2/.vs/P2C2.2
/P2/P2C2.2/P2C2.2/obj
/P2/P2C2.2/P2C2.2/bin/Debug/net8.0
/P2/P2C2.2/obj
/P2/P2C3/P2C3/.vs/P2C3
/P2/P2C3/P2C3/obj
/P2/P2C3/obj
/P2/P2C4.1/P2C4.1/.vs/P2C4.1/FileContentIndex
/P2/P2C4.1/P2C4.1/.vs/P2C4.1
/P2/P2C4.1/P2C4.1/.vs/P2C4.1
/P2/P2C4.1/P2C4.1/obj
/P2/P2C4.1/obj
/P2/P2C4.1/.vs/ProjectEvaluation
/P2/P2C4.2/P2C4.2/.vs/P2C4.2/FileContentIndex
/P2/P2C4.2/P2C4.2/.vs/P2C4.2/v17
/P2/P2C4.2/P2C4.2/bin/Debug/net8.0
/P2/P2C4.2/P2C4.2/obj
/P2/P2C4.2/obj
/P2/P2C4.3/P2C4.3/.vs/P2C4.3
/P2/P2C4.3/P2C4.3/bin/Debug/net8.0
/P2/P2C4.3/P2C4.3/obj
/P2/P2C4.3/obj
/P2/P2C5.1/obj
/P2/P2C5.2/obj
/P2/P2C5.3/obj
/P3/P3C2/obj
/P3/P3C3/obj
/P3/P3C4/obj
/P3/P3C8/obj
