################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/slnx.sqlite
/.vs/7973891-apprenez-a-programmer-en-c/FileContentIndex
/.vs
/P1/P1C2.1/P1C2.1/.vs/P1C2.1
/P1/P1C2.1/P1C2.1/obj
/P1/P1C2.1/P1C2.1/bin/Debug/net8.0
/P1/P1C2.1/bin/Debug/net8.0
/P1/P1C2.1/.vs/P1C2.1
/P1/P1C2.1/obj/Debug/net8.0
/P1/P1C2.1/obj
/P1/P1C2.1/.vs/ProjectEvaluation
/P1/P1C2.2/obj
/P1/P1C2.2/P1C2.2/.vs/P1C2.2/FileContentIndex
/P1/P1C2.2/P1C2.2/obj/Debug/net8.0
/P1/P1C2.2/P1C2.2/.vs/P1C2.2/v17
/P1/P1C2.3/P1C2.3/.vs/P1C2.3
/P1/P1C2.3/P1C2.3/obj
/P1/P1C2.2/P1C2.2/.vs/P1C2.2/DesignTimeBuild
/P1/P1C2.3/obj
